body{
    margin-top: 50px;
    padding: 0px;
    background: #AC0045 url(https://www.scnsoft.com/blog-pictures/business-intelligence/real-time-big-data-analytics-01_1.png) repeat;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Open Sans', sans-serif;
    font-size: 10pt;
    max-width: 100%;
    }
    
    h2{
    text-align: left;
    color: black;
    }
    
    p2{
    color: black;
    font-size: medium;
    background-color: ghostwhite;
    }

    .baixoesquerdo {
        right: 20px;
        height: 250px;
        position: absolute;
        text-align: center;
    }
    .texto {
        left: 20px;
        text-align: left;
    }

    .container {    
        border-width: medium;
        
        color: #FFF;
        padding: 20px;
        border: 5px solid #CCC;
    }